# Secrets
.env

# Built xcframeworks and llama.cpp build artifacts
Frameworks/
build-llama/
build-mac/
build-mac-rpc-only/
build-sim/
vendor/
build-xcode/
build-xcode-sim/
# Downloaded models
Models/*.gguf
build/

# Xcode derived data / indexes
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcresult
*.xcuserstate
*.xccheckout
.swiftpm/

# macOS
.DS_Store

# Xcode build folders, caches, and temporary files
Build/
Debug-iphonesimulator/
CompilationCache.noindex/
Index.noindex/
Logs/
ModuleCache.noindex/
SDKStatCaches.noindex/
EagerLinkingTBDs/
*.xcarchive

# Xcode user data and workspace files
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata

# Swift package manager
Packages/
.build/

# CocoaPods / Carthage / Fastlane
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/metadata/

# IDEs
.idea/
*.iml

.theos/
armv7-rebuild-ios10/
.ipa-payload/